*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{

    background:linear-gradient(
        135deg,
        #ffb6d9,
        #ffd8e8,
        #fff3f8
    );

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

}



/* CARTÃO PRINCIPAL */

.container{

    background:white;

    width:90%;

    max-width:500px;

    padding:30px;

    border-radius:20px;

    text-align:center;

    box-shadow:
    0 15px 40px rgba(0,0,0,.2);

    position:relative;

    z-index:2;

}



h1{

    color:#ff3d7f;

    margin-bottom:15px;

}



h2{

    color:#ff2d75;

    margin-bottom:15px;

}



h3{

    color:#ff3d7f;

}



p{

    color:#444;

    margin-bottom:20px;

    line-height:1.5;

}



/* BOTÕES INICIAIS */

.botoes{

    display:flex;

    justify-content:center;

    gap:20px;

}



button{

    padding:15px 35px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:18px;

    transition:.25s;

}



#sim{

    background:#ff4f87;

    color:white;

}


#sim:hover{

    transform:scale(1.08);

}



#nao{

    background:#ddd;

    color:#555;

    position:relative;

}



/* RESULTADO */

#resultado{

    display:none;

    margin-top:25px;

}



.info{

    background:#fff2f6;

    padding:15px;

    border-radius:15px;

    margin:15px 0;

}



/* BOTÃO MAPS */

.local{

    display:inline-block;

    margin-top:10px;

    text-decoration:none;

    background:#4285f4;

    color:white;

    padding:12px 25px;

    border-radius:30px;

    font-weight:bold;

}



/* WHATSAPP */

.confirmar,
.ausencia{

    display:inline-block;

    margin-top:12px;

    padding:12px 25px;

    border-radius:30px;

    color:white;

    text-decoration:none;

    font-weight:bold;

}



.confirmar{

    background:#25D366;

}



.ausencia{

    background:#ff5252;

}



/* CORAÇÕES CAINDO */

.emoji{

    position:fixed;

    top:-40px;

    font-size:24px;

    pointer-events:none;

    animation:cair linear forwards;

    z-index:5;

}



@keyframes cair{


0%{

    transform:
    translateY(-50px)
    rotate(0deg);

    opacity:1;

}



100%{

    transform:
    translateY(110vh)
    rotate(360deg);

    opacity:0;

}


}



/* CELULAR */

@media(max-width:600px){


.container{

    padding:25px;

}



h1{

    font-size:26px;

}



button{

    padding:13px 25px;

    font-size:16px;

}


.local,
.confirmar,
.ausencia{

    width:90%;

}


}
