<style>

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#ffb6d9,#ffd8e8,#fff3f8);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    width:90%;
    max-width:500px;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,.2);
    position:relative;
    z-index:2;
}

h1{
    color:#ff3d7f;
    margin-bottom:15px;
}

p{
    color:#444;
    margin-bottom:25px;
}

.botoes{
    display:flex;
    justify-content:center;
    gap:20px;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-size:18px;
    transition:.25s;
}

#sim{
    background:#ff4f87;
    color:white;
}

#sim:hover{
    transform:scale(1.1);
}

#nao{
    background:#ddd;
    position:relative;
}

#resultado{
    display:none;
    margin-top:25px;
}

#resultado h2{
    color:#ff2d75;
    margin-bottom:15px;
}

.info{
    background:#fff2f6;
    padding:15px;
    border-radius:15px;
    margin:15px 0;
}


/* BOTÃO GOOGLE MAPS */

a.local{

    display:inline-block;
    margin-top:15px;

    text-decoration:none;

    background:#ff4f87;

    color:white;

    padding:12px 25px;

    border-radius:30px;

}



/* BOTÃO WHATSAPP PRESENÇA */

.confirmar{

    display:inline-block;

    margin-top:12px;

    text-decoration:none;

    background:#25D366;

    color:white;

    padding:12px 25px;

    border-radius:30px;

    font-weight:bold;

}



/* BOTÃO AUSÊNCIA */

.ausencia{

    display:inline-block;

    margin-top:12px;

    text-decoration:none;

    background:#ff5252;

    color:white;

    padding:12px 25px;

    border-radius:30px;

    font-weight:bold;

}



/* CORAÇÕES CAINDO */

.emoji{

    position:fixed;

    font-size:24px;

    animation:cair linear forwards;

    pointer-events:none;

    z-index:10;

}


@keyframes cair{

    0%{

        transform:translateY(-100px) rotate(0deg);

        opacity:1;

    }


    100%{

        transform:translateY(110vh) rotate(360deg);

        opacity:0;

    }

}


/* CELULAR */

@media(max-width:600px){

    .container{

        padding:25px;

    }


    button{

        padding:13px 25px;

        font-size:16px;

    }


    .confirmar,
    .ausencia,
    a.local{

        width:90%;

    }

}

</style>
