*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{

    height:100vh;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #ff9fc9,
        #ffc6dc,
        #fff0f6
    );

}



/* páginas */

.pagina{

    position:absolute;

    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;

    opacity:0;
    visibility:hidden;

    transition:.5s;

}


.pagina.ativa{

    opacity:1;
    visibility:visible;

}



/* cartão */

.card{

    width:420px;
    max-width:95%;

    padding:35px;

    text-align:center;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(10px);

    border-radius:25px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.15);

}


h1{

    color:#ff3d7f;

    margin-bottom:20px;

    font-size:32px;

}


h2{

    color:#555;

    margin:20px 0;

}



p{

    color:#555;

    font-size:18px;

    line-height:1.5;

}



/* botões */

.botoes{

    display:flex;

    justify-content:center;

    gap:20px;

    margin-top:30px;

}


button{

    border:0;

    padding:15px 35px;

    border-radius:50px;

    font-size:18px;

    cursor:pointer;

    font-weight:bold;

}


#sim{

    background:#ff4081;

    color:white;

}


#sim:hover{

    transform:scale(1.05);

}



#nao{

    background:#eee;

    color:#555;

}



/* página encontro */


.local{

    background:#fff1f7;

    padding:20px;

    border-radius:20px;

    margin:20px 0;

}



.maps,
.confirmar,
.recusar{

    display:block;

    text-decoration:none;

    padding:15px;

    border-radius:40px;

    color:white;

    margin-top:15px;

    font-weight:bold;

    transition:.3s;

}


.maps{

    background:#4285f4;

}


.confirmar{

    background:#25D366;

}


.recusar{

    background:#ff5252;

}



.maps:hover,
.confirmar:hover,
.recusar:hover{

    transform:scale(1.04);

}



/* corações */

.coracao{

    position:fixed;

    top:-20px;

    animation:cair linear forwards;

    pointer-events:none;

    z-index:999;

}



@keyframes cair{


0%{

    transform:translateY(-50px);

    opacity:1;

}


100%{

    transform:translateY(110vh);

    opacity:0;

}


}



/* celular */

@media(max-width:600px){


.card{

    padding:25px;

}


h1{

    font-size:26px;

}


h2{

    font-size:20px;

}


button{

    padding:13px 25px;

}


}
